
body {
  display: block;
  margin: 2em 6.2em;
  font-family: inter;
  background-color: hsl(0, 0%, 100%);
} 

.nav-brand {
  font-size: 30px;
  font-weight: bolder;
  font-family: inter;
}

.sub-brand {
  margin-top: 0.3rem;
  font-size: 25px;
  font-weight: bolder;
  font-family: inter;
  color:hsl(228, 12%, 44%);
}


.switch-mode {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  justify-content: flex-end;
  margin-top: -32px;

}

.dark-mode {
  font-family: inter;
  font-size: 16px;
  font-weight: 800;
  margin-top: -25px;
  color:  hsl(228, 12%, 44%);
  padding-right: 16px;
}

.outer-button {
  background-color: hsl(230, 22%, 74%);
  padding: 0.2em 0em;
  border-radius: 4em;
  width: 4.1em;
  margin-top: -32px;
}

.inner-button {
  background-color: hsl(225, 100%, 98%);
  padding: 0.8em 0em;
  border-radius: 1em;
  width: 1.6em;
  margin-left: 2.2em;
}


.dash-board{
  margin-top: 5em;
  background-color:hsl(225deg 100% 97%);
  padding: 5em 5em;
  width: 10%;
  /* margin-right: 3em; */
  padding-bottom: 1em;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
}


.dash-board-header {
  background-color:hsl(208, 92%, 53%);
  padding: 0.1em 5.0em;
  width: 100%;
  margin-top: -5.21em;
  margin-left: -5.02em;
  border-radius: 3em 3em 0em 0em;
}


.facebook-logo-handle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.2em 1.3em;
}


.facebook-handle {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 1rem;
}

.arrow-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.2em 1.9rem;
  margin-right: 1em;
}
.date {
  font-size: 0.7em;
  font-weight: 800;
  color: hsl(163, 72%, 41%);
  margin-right: 1em;
}


#move-date {
  margin-right: 0em;
}
.arrow {
  margin: -0.36rem 0em;
  margin-left: 0.14rem;
}


.follower-number {
  margin: 0.2em .0em;
  font-size: 3.8em;
  font-weight: 700;
}


.follower-text {
  margin: -0.5em 0.5em;
  font-size: 1.em;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.dash-board-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.overview-text {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 25px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.overview-board {
  background-color: hsl(225deg 100% 97%);
  padding: 5em 5em;
  /* padding-bottom: 2.2rem; */
  width: 8.495em;
  /* margin-bottom: 0em; */
  margin-right: 2.8em;
  margin-bottom: 2em;
  padding-bottom: 1.4rem;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}


.overview-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

}


.page-view-img-flex {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  margin: -3em -2.62em;
  padding: 0em 0em;
  font-size: 1.12rem;
  font-weight: 600;
  color: hsl(228, 12%, 44%)
}

.page-number-percent-flex {
  display: flex;
  justify-content: space-between;
}



.page-view-number {
  margin-top: 5.0rem;
  font-size: 2em;
  font-weight: 700;
  margin-left: -1.46em;
}

.icon-number {
  margin-left: 10.3rem;
  margin-top: 6.95rem;
}

.icon {
  margin: -1em -0.7em;
}


.number {
  font-weight: 650;
}


.overview-flexy {
  display: flex;
  flex-direction: row;
}
#c-number {
  margin-left: 5.74em;
}
#d-number {
  margin-left: 7.4em;
}


#e-number {
  margin-left: 8.4rem;
}

#f-number {
  margin-left: 7.89rem;
}

#g-number {
  margin-left: 9.02rem;
}
#h-number {
  margin-left: 7.66rem;
}

#red{
  color: hsl(356, 69%, 56%);
 }

/*================================================
                  MEDIA --MODE
 ================================================ */
 @media (max-width: 667px){
 
 /* .date{
    font-size: 0.7em;
    font-weight: 800;
    color: hsl(163, 72%, 41%);
    margin-right: -2.8em;
 } */

 }


@media (max-width: 736px) {
  body {
    display: block;
    margin: 4em 1.5em;
    font-family: inter;
    max-width: 100vw;
}


  .sub-brand {
    margin-top: 0.3rem;
    font-size: 20px;
    font-weight: bolder;
    font-family: inter;
    color:hsl(228, 12%, 44%);
  }

  .border-bottom {
    border-bottom: 2px solid gray;
    margin-top: 1.2em;
  }
  
  .switch-mode {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }



  .dark-mode {
    font-family: inter;
    font-size: 16px;
    font-weight: 800;
    margin-top: 7px;
    color: hsl(228, 12%, 44%);
  }

  

  .outer-button {
    background-color: hsl(230, 22%, 74%);
    padding: 0.2em 0em;
    border-radius: 4em;
    width: 4.1em;
    margin-top: -2px;
}

  .inner-button {
    background-color: hsl(225, 100%, 98%);
    padding: 0.8em 0em;
    border-radius: 1em;
    width: 1.6em;
    margin-left: 2.2em;
  }


    
 
  .dash-board {
    margin-top: 2.5em;
    background-color: hsl(225deg 100% 97%);
    padding: 5em 5em;
    padding-bottom: 0.2rem;
    width: 57%;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
  }
  
.dash-board-header {
  background-color: hsl(208, 92%, 53%);
  padding: 0.1em 5.0em;
  width: 100%;
  margin-top: -5.21em;
  margin-left: -5.02em;
  border-radius: 3em 3em 0em 0em;
}



.facebook-logo-handle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.2em 3.7em;
}


.facebook-handle {
  font-size: 0.8em;
  font-weight: 850;
  margin-top: 0.1rem;
  margin-left: 1rem;
  color: hsl(228, 12%, 44%);
}

.arrow-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.2em 4.5em;
}

.date {
  font-size: 0.7em;
  font-weight: 800;
  color: hsl(163, 72%, 41%);
  margin-right: -2.4em;
}
#move-date {
  margin-right: -3.8em;
}

.arrow {
  margin: -0.36rem 0em;
  
}


.follower-number {
  margin: 0.2em 0.59em;
  font-size: 3.8em;
  font-weight: 700;
}


.follower-text {
  margin: -0.5em 1.75em;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: hsl(228, 12%, 44%);
}

.dash-board-flex {
  display: flex;
  flex-direction: column;

}


#twitter-color{
 background-color: hsl(203, 89%, 53%);
}

#instagram-color{
  background-image: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
#youtube-color{
  background-color: hsl(348, 97%, 39%);

}

#youtube-date{
  color: hsl(348, 97%, 39%);
}

#move-left {
  margin-left: 4rem;
}

.overview-text {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 28px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}


.overview-board {
  background-color: hsl(225deg 100% 97%);
  padding: 5em 5em;
  padding-bottom: 2.2rem;
  width: 57%;
  margin-bottom: 2em;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}


.overview-flex{
  display: flex;
  flex-direction: column;
 

}

.page-view-img-flex {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -3em -2.62em;
  padding: 0em 0em;
  font-size: 1.12rem;
  font-weight: 600;
  color: hsl(228, 12%, 44%);
}
.page-number-percent-flex {
  display: flex;
  justify-content: space-between;
}

.page-view-number {
  margin-top: 4.1rem;
  font-size: 2em;
  font-weight: 700;
  margin-left: -1.46em;
}
.icon-number {
  margin-left: 14.9rem;
  margin-top: 6em;
}


.icon {
margin: -1em -0.7em;
}
.number {
font-weight: 650;
color:hsl(163, 72%, 41%);
}

.overview-flexy {
  display: flex;
  flex-direction: column;
}
#c-number {
  margin-left: 10.33em;
}


#d-number {
  margin-left: 11.95em;
}


#e-number {
  margin-left: 12.94em;
}

#f-number {
  margin-left: 12.6em;
}
#g-number {
  margin-left: 13.6em;
}
#h-number {
  margin-left: 12.5em;
}

#red{
  color: hsl(356, 69%, 56%);
 }
}



                                      




                                  

